//
//  Confidential.swift
//  Iqra
//
//  Created by Hussain Al-Homedawy on 2016-12-22.
//  Copyright © 2016 Hussain Al-Homedawy. All rights reserved.
//

import Foundation

class Confidential {
    static let API_KEY = ""
}
